$background: rgb(34, 181, 115);
$title: rgb(242, 242, 242);
$sec-title: rgb(252, 184, 76);
$text: rgb(255, 255, 255);
$buttons: rgb(0, 0, 0);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

//Hamburger menu button
.menu-btn {
  display: block;
  width: 70px;
  padding: 10px 0;
  position: absolute;
  top: 20px;
  right: 20px;
  color: $text;
  background-color: $buttons;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  border: none;
  border-radius: 100%;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $buttons;
    background-color: $text;
    font-weight: 600;
    cursor: pointer;
  }
}

h1 {
  margin: 20px 0 50px;
  line-height: 5rem;
  letter-spacing: 2px;
  color: $title;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

//Main container + content
.main-div {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: $background;
  font-family: "Roboto", sans-serif;
  overflow: auto;

  .cards {
    min-width: 300px;
    max-width: 350px;
    height: 500px;
    background-color: $background;
  }

  h2 {
    color: $sec-title;
  }

  a {
    margin-top: 20px;
    text-decoration: none;
    color: $sec-title;
  }

  p {
    margin-top: 20px;
  }

  section {
    height: 450px;
    padding: 30px;
    overflow: auto;
  }
}

.science {
  background-color: $buttons;

  p {
    color: white;
  }
}

.nature {
  background-color: $text;
}

.video {
  background-color: $buttons;

  section {
    padding: 0;
  }
}

//Mobile view
@media screen and (max-width: 1080px) {
  .main-div {
    display: flexbox;
    flex-wrap: wrap;
  }

  h1 {
    margin-top: 70px;
    margin-bottom: 20px;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 200;
  }

  .menu-btn {
    width: 50px;
    padding: 5px 0;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 25px;
  }
}
